<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type='text/css' href="{{ url_for('static',filename='stylesheets/style.css') }}">
    </head>
    <body>
        <div class="header">
            <div class="title">
                <h1>MovieList</h1>
            </div>
            <div class="email_enter">
                <div class="signed_in">
                    <p>Signed in as:</p>
                    {{ signedIn }}
                </div>
            </div>
        </div>
        <div class='main-container'>
            <div class="welcome-message">
                <p>Welcome to MovieList, the program that searches the internet and helps you put together a list of movies to watch.
                <p>Enter a movie name to search for:</p>
                <form method="POST" action="{{ url_for('searchMovie') }}">
                    {{ form.csrf_token }}
                    <label>Movie Name:</label>
                    {{ form.movieName }}
                    <label>Genre:</label>
                    {{ form.genre }}
                    <label>Year:</label>
                    {{ form.year }}
                    <button type="submit">Search</button> 
                </form>
                <form name="saveList" action="{{ url_for('saveList') }}" method="POST">
                    <button type='submit'>Save List</button>
                </form>
                <form name="sendAsEmail" action="{{ url_for('sendAsEmail') }}" method="POST">
                    <button type="submit">Send to Email</button>
                </form>
            </div>
            <div class="search-list">
                <h3>Search Results:</h3>
                {% for item in searchItems: %}
                    <div class="search-item">
                        <form action="{{ url_for('saveItem') }}" method="POST">
                            {{ searchItems.csrf_token }}
                            {{ item.movie_name }}
                            {{ item.description }}
                            {{ item.submit }}
                        </form>
                    </div>
                {% endfor %}
            </div>
            <div class="personal-list">
                <h3>Personal List:</h3>
                {% for item in savedItems: %}
                    <div class="search-item">
                        <p id="{{ item.id }}" name="{{ item.name|string }}">{{ item.name }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>